* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Colors BG */
  --color-bg: linear-gradient(
     200deg,
    #03011b,
    #080808,
    #03011b
  );

  --color-bg-instagram: linear-gradient(
     100deg,
    #833AB4,
    #E1306C,
    #FD1D1D,
    #F77737
  );

  --color-bg-linkedin: linear-gradient(
     100deg,
    #0077B5,
    #FFFFFF
  );
  
  --color-bg-github: #080808;

  --color-bg-footer: linear-gradient(
    100deg,
   #03011b,
   #080808,
   #03011b
 );

  /* Colors Main */
  --color-blue: #03011b;
  --color-black-05: rgba(0,0,0,.5);

  /* White */
  --color-white: #fff;
  --color-white-01: rgba(255,255,255,.1);

  /* Black */
  --color-black: #000;

  /* Blue */
  --color-cian: #0cc;

  /* Gray */
  --color-gray: #ccc;

}

body {
  background: var(--color-bg);
  color: #fff;
  min-height: 100vh; 
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--color-bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-white);
  border-radius: 20px;
}

/* Animações */

@keyframes irParaDireita {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}

@keyframes irParaCima {
  from {
    height: 100%;
  }
  to {
    height: 20px;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsividade */
@media (max-width: 65rem) {
  html {
      font-size: 70%;
      overflow-y: scroll;
      overflow-x: hidden;
  }

  .menu {
      width: 100%;
      height: 100%;
      backdrop-filter: blur(20px);
  }

  .menu.fechado {
      height: 20px; 
  }

  .sectionContainer {
      margin-left: 0;
      width: 100%;
  }

  section {
    margin-left: 0px; 
    padding: 3rem;
    min-height: 100vh;
    z-index: 1;
}
  footer {
    margin-left: 0px; 
    padding: 3rem;
    min-height: 50vh;
    z-index: 1;
}

  .iconFecharMenu {
    display: block;
  }

}  

@media (max-width: 29rem) {
    html {
      font-size: 60%;
    }
}
@media (max-width: 24.5rem) {
    html {
      font-size: 50%;
    }

    section {
      margin-left: 0px; 
      padding: 3rem;
      min-height: 80vh;
      z-index: 1;
  }

    footer {
      width: 100%;
      bottom: 0px;
      margin-left: 0px;
      padding: 1rem 2rem;
      background: var(--color-bg-footer);
  }
}